*{
  font-fanily:微軟正黑體;
  vertical-align: top;
}

body{
  margin-left:auto;
  margin-right:auto;
  padding:0px;
  background-color:#3691D1;
}
.left,.right{
  display: inline-block;
  width:50%;
  height: 1000px;
  box-sizing: border-box;
  margin: 0px -400px 0px 400px;
  box-shadow:3px 3px 10px;
}
.left{
  width:25%;
  background-color:#214762;
  color : white;
  text-align:center;
  box-sizing:border-box;
}

.right{
  width:35%;
  color:#214762;
  background-color:white;
  box-sizing:border-box;
}
.name{
  letter-spacing: 4px
}
hr{
  width:80%;
}
.bigtitle{
font-size: 30px;
font-weight:bold;
letter-spacing: 3px;
line-height: 24px;
}
.title{
  letter-spacing: 3px;
    line-height: 24px;
}
.data{
  font-size: 12px;
  line-height: 30px;
}
.skill{
  font-size: 14px;
  margin-left:auto;
  margin-right:auto;
  line-height: 28px
}
.bar1,.bar2,.bar3,.bar4,.bar5{
  border:solid 1px white;
  width:200px;
  height:14px;
  position:relative;
 margin-left:auto;
 margin-right:auto;
 margin-top:5px;
}


.inbar1,.inbar2,.inbar3,.inbar4,.inbar5{
  background-color:white;
  position:relative;
  height:10px;
  margin-top:2px;
  margin-left:1%;
  margin-bottom:3px;
  width: 195px;
}
.inbar1{
  width:30%;
}
.inbar2{
  width:30%;
}
.inbar3{
  width:60%;
}
.inbar4{
  width:40%;
}
.inbar5{
  width:20%;
}

.auto{
  font-size:40px;
  margin-left:20px;
  margin-top:20px;
  font-weight:Bold;
}

.text{
  margin-top:20px;
  margin-left:20px;
  margin-right:15px;
  line-height:20px;
  letter-spacing: 3px;
  font-size:14px;
}
.hr2{
  width:40%;
  margin-left:140px;
  margin-top:-60px;
}
.hr3{
  width:40%;
  margin-left:220px;
  margin-top:-150px;
}
.sml{
  margin-left:340px;
  margin-top:-8px;
}
.sml2{
  margin-left:160px;
  margin-top:118px;
}
